.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #ff9f9f;
  color: white;
}

.Menu, .Quiz {
  width: 50%;
  height: 50vh;
  border-radius: 10px;
  font-size: 1vw;
  padding: 30px;
  background-color: #f6827f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.answers {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: stretch;
  width: 50%;
}

.answers button {
  margin: 5px;
  font-size: 1vw;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.nextBtn {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #ff9f9f;
}

.Menu button {
  width: 30%;
  margin: 5px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  cursor: pointer;
  color: white;
  background-color: #ff9f9f;
}

.answers button:hover, .nextBtn:hover, .Menu button:hover {
  background-color: white;
  color: #ff9f9f;
}

.restart {
  width: 30%;
  margin: 5px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  cursor: pointer;
  color: white;
  background-color: #ff9f9f;
}

